<app-toolbar [title]="'Angular Library with a touch of Foundation'">
    <ul>
        <li>Components</li>
        <li>Directives</li>
        <li>Services</li>
        <li>Pipes</li>
        <li>Guards</li>
    </ul>
</app-toolbar>

<app-card [iconClasses]="'fi-info'" [title]="'Card'" [subTitle]="'Component'">

    <p footer>Footer Content</p>
    <p body>Body Content</p>

</app-card>

<app-card [iconClasses]="'fi-info'" [title]="'Accordion'" [subTitle]="'Component'">

    <app-accordion body [accordionItems]="acccordionItems"></app-accordion>

</app-card>