@import "../../../assets/global";

$padding: 10px 20px;

.accordion-container {
    @include box-shadow();

    .item {
        border-bottom: 1px solid $light-gray;

        .header {
            display: grid;
            grid-template-columns: 1fr auto;
            align-items: center;
            padding: $padding;

            i {
                color: $primary-color;
                transition: all 0.3s;
                font-size: 24px;

                &.is-expanded {
                    transform: rotate(-180deg);
                }
            }
        }

        .content {
            padding: $padding;
            display: none;

            &.is-expanded {
                display: block;
            }
        }
    }
}
